<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="back()" slot="start"><ion-img class="back-btn" src="assets/backbutton.png"></ion-img></ion-buttons> 
      <ion-title style="text-align: center;">SPORT MOTORBIKES</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">

  <div>
    <br>
    <br>
    <br>
<br>
    <div name= sp>
      <ion-grid>
        <center>
        <ion-row>
          <ion-col col-12 col-sm>
            <div class="img-container">
              <ion-buttons (click)="light()"><img src="assets/light.jpg" alt=""class="center"></ion-buttons><br>
              <ion-label>Lightweight</ion-label>
            </div>
            
          </ion-col>
          <ion-col>
            <div class="img-container">
              <ion-buttons (click)="middle()"><img src="assets/middle.jpg" alt="" class="center"></ion-buttons><br>
            <ion-label>Middleweight</ion-label>
            </div>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="img-container">
              <ion-buttons (click)="super()"><img src="assets/supers.png" alt="" class="center"></ion-buttons><br>
              <ion-label>Superbike</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="img-container">
          <br><br><br><br><BR><BR>
              <ion-label>UNAVAILABLE AS OF <br>THE MOMENT</ion-label>
            </div>
          </ion-col>
        </ion-row>
       
        </center>
      </ion-grid>
    </div>
  </div>
</ion-content>

