
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">MOTOZONE</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>



  <div class="grid">
    <ion-grid>
      <center>
        <ion-row>
         
          <ion-col id="ds">
           
            <div class="icons"> 
              <ion-buttons class="buttons" (click)="dirt()"><img src="assets/dirt.png"></ion-buttons> 
             
              <ion-label>DIRT BIKE</ion-label>
            </div>
          </ion-col>
          <ion-col id="ds">
        
            <div  class="icons">
              <ion-buttons class="buttons" (click)="sport()"> <img src="assets/sport.png"></ion-buttons> 
            
              <ion-label>SPORT BIKE</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="sc">
          
            <div class="icons">
              <ion-buttons class="buttons" (click)="scooter()"><img src="assets/scooter.png"></ion-buttons>
              <ion-label>SCOOTER</ion-label>
            </div>
            </ion-col>
          <ion-col id="sc">
           
            <div class="icons">
              <ion-buttons class="buttons" (click)="cruiser()"><img src="assets/cruiser.png"></ion-buttons>
              <ion-label>CRUISE</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </center>
      
    </ion-grid>
  </div>
  

</ion-content>
