<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="back()" slot="start"><ion-img class="back-btn" src="assets/backbutton.png"></ion-img></ion-buttons> 
      <ion-title style="text-align: center;">DIRT BIKES</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">

  <div>
    <br>
    <br>
    <br>
<br>
    <div name= mountain>
      <ion-grid>
        <center>
        <ion-row>
          <ion-col col-12 col-sm>
            <div class="img-container">
              <ion-buttons (click)="enduro()"><img src="assets/enduros.jpg" alt=""class="center"></ion-buttons><br>
              <ion-label>ENDURO</ion-label>
            </div>
            
          </ion-col>
          <ion-col>
            <div class="img-container">
              <ion-buttons (click)="trail()"><img src="assets/trail.jpg" alt="" class="center"></ion-buttons><br>
            <ion-label>TRAILDIRT</ion-label>
            </div>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="img-container">
              <ion-buttons (click)="motocross()"><img src="assets/motocross.jpg" alt="" class="center"></ion-buttons><br>
              <ion-label>MOTOCROSS</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="img-container">
              <ion-buttons (click)="child()"><img src="assets/child.jpg" alt="" class="center"></ion-buttons><br>
              <ion-label>CHILD DIRT</ion-label>
            </div>
          </ion-col>
        </ion-row>
       
        </center>
      </ion-grid>
    </div>
  </div>
</ion-content>

