<style>
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 100%;
    max-width: 700px; 
  }
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal ion-toolbar {
    --background: linear-gradient( rgba(85, 172, 182, 0.704), rgb(128, 79, 61));
    --color: white;
  }
</style>

<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="back()" slot="start"><ion-img class="back-btn" src="assets/backbutton.png"></ion-img></ion-buttons> 
      <ion-title style="text-align: center;">DUCATI</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="banner">
    <p text-align="center">Brands
    </p>
  </ion-card>
  <ion-list *ngFor="let d of du">
    <ion-item button  id="{{d.id}}">{{d.name}}</ion-item>

  <ion-modal #modal trigger="{{d.id}}">
    <ng-template>
      <ion-content class="modal-body">
        <ion-toolbar>
          <ion-title align="left">{{d.name}}</ion-title>
          <ion-buttons slot="end" color="light" (click)="modal.dismiss()"><ion-img  class="close" src="assets/cancel.png"></ion-img></ion-buttons>
        </ion-toolbar>
        <ion-card align="center">
          <ion-card-header>
            <ion-card-subtitle>Ducati</ion-card-subtitle>
            <ion-card-title>{{d.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label id="label">Frame: </ion-label><ion-label>{{d.Frame}}</ion-label><br>
            <ion-label id="label">Wheels: </ion-label><ion-label>{{d.Wheels}}</ion-label><br>
            <ion-label id="label">Weight: </ion-label><ion-label>{{d.Weight}}</ion-label><br>
            <ion-label id="label">Size: </ion-label><ion-label>{{d.Size}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-list>
</ion-content>

