<style>
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 100%;
    max-width: 700px; 
  }
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal ion-toolbar {
    --background: linear-gradient( rgba(85, 172, 182, 0.704), rgb(128, 79, 61));
    --color: white;
  }
</style>

<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="back()" slot="start"><ion-img class="back-btn" src="assets/backbutton.png"></ion-img></ion-buttons> 
      <ion-title style="text-align: center;">KAWASAKI VULCAN</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="flex-center">
    <ion-img src="assets\maintenances.png"></ion-img>
    </div>
  
</ion-content>

